services:
  php:
    build:
      context: .
      dockerfile: Dockerfile
    depends_on:
      postgres:
        condition: service_healthy
      mariadb:
        condition: service_healthy
    tty: true

  postgres:
    image: postgres:latest
    environment:
      POSTGRES_USER: root
      POSTGRES_PASSWORD: root
      POSTGRES_DB: mindplay_sql_test
    ports:
      - "5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U root"]
      interval: 1s
      timeout: 1s
      retries: 50

  mariadb:
    image: mariadb:latest
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: mindplay_sql_test
    ports:
      - "3306"
    healthcheck:
      test: [ "CMD", "healthcheck.sh", "--su-mysql", "--connect", "--innodb_initialized" ]
      interval: 1s
      timeout: 1s
      retries: 50
